@import '../../../_common/styles/b300x250.scss';


#banner{
 height: 320px;
 width: 480px; 
}



#olg{
	width: 95px;
	height: 60px;
	@include pos(0, 428);
}



#legalBtn{	
	@include pos(260, 434);	
	width: 60px;
	
}

.t1a{
	// @include pos-scale(-130, 30, .5);
}

.t1b{
	// @include pos-scale(130, -30, .5);
}

.phone{
	@include pos-scale(88, 0, .5);
}